<div  *ngIf="!isEditing">
	<h5>Add new user</h5>
	<div class="ui input">
		<form class="ui form" [formGroup]="addUserForm" (ngSubmit)="addUser()" style="text-align:center">
			<div class="field">
				<label>First Name</label>
			    <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
			</div>
			<div class="field">
			<label>Last Name</label>
			    <input class="form-control" type="text" name="lastnamep" formControlName="lastnamep" placeholder="Paterno">
			</div>
			<div class="field">
			<label>Last Name</label>
			    <input class="form-control" type="text" name="lastnamem" formControlName="lastnamem" placeholder="Materno">
			</div>
			<div class="field">
			<label>Nick</label>
			    <input class="form-control" type="text" name="nick" formControlName="nick" placeholder="Nick">
			</div>
			<div class="field">
			<label>Password</label>
			    <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
			</div>
			
			<button class="ui button" type="submit" [disabled]="!addUserForm.valid">Add</button>
		</form>
	</div>

</div>
